#login{
    
    width:100%;
    display :flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    
}


#blah{
background-image: url(https://static.zara.net/photos///2021/V/0/1/p/3811/040/450/2/w/447/3811040450_1_1_1.jpg?ts=1606483704632);
width: 28%;
}

#form_login{
width: 28%;
background-image: url(https://static.zara.net/photos///2020/I/0/1/p/8869/744/800/2/w/447/8869744800_2_1_1.jpg?ts=1604489153840);
}
#information{
width: 28%;
background-image: url(https://images.asos-media.com/products/converse-chuck-taylor-hi-lift-platform-white-trainers/12129495-1-white?$n_480w$&wid=476&fit=constrain);
}



#msg{
    color: yellow;
    background-color: grey;
    font-weight: bold;
}

#msg_2{
    background-color: pink;
    width: 40%;
}

#status{
   
   margin: 4px;
}