<div mat-dialog-content>
    <p>Please select product quantity</p>
    <mat-form-field>
        <!-- <mat-label>Favorite Animal</mat-label> -->
        <input matInput  type="number" [(ngModel)]="quantity" min="1" max="10">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>No Thanks</button>
    <button mat-button [mat-dialog-close] = "quantity">Save change</button>
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>