<div id="categories">
  <div *ngFor="let c of this.ms.categories">
    <button class="myButton" (click)="change_category(c._id)">{{c.name}}</button>

  </div>
</div>
<div id="products">
  <div *ngFor="let p of this.ms.product_to_display" class="product">
    <mat-card class="example-card">
      <button *ngIf="this.us.admin">
        <mat-icon id="cart_icon" (click)="this.as.change('edit', p)">edit</mat-icon>
      </button>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{p.name}}</mat-card-title>

      </mat-card-header>
      <img mat-card-image src={{p.imagePath}} alt="Photo">
      <mat-card-subtitle>{{p.price}}</mat-card-subtitle>
      <mat-card-content>
        <p>
          {{p.description}}
        </p>
      </mat-card-content>
      <mat-card-actions *ngIf="!this.us.admin">
        <button mat-button (click)="openDialog(p)" color="basic">Select</button>

      </mat-card-actions>
    </mat-card>

  </div>


</div>